/* line 5, ../sass/style.scss */
[slider] {
  position: relative;
  height: 14px;
  border-radius: 10px;
  text-align: left;
  margin: 45px 0 10px 0;
}

/* line 13, ../sass/style.scss */
[slider] > div {
  position: absolute;
  left: 13px;
  right: 15px;
  height: 14px;
}

/* line 20, ../sass/style.scss */
[slider] > div > [inverse-left] {
  position: absolute;
  left: 0;
  height: 14px;
  border-radius: 10px;
  background-color: #ccc;
  margin: 0 7px;
}

/* line 29, ../sass/style.scss */
[slider] > div > [inverse-right] {
  position: absolute;
  right: 0;
  height: 14px;
  border-radius: 10px;
  background-color: #ccc;
  margin: 0 7px;
}

/* line 38, ../sass/style.scss */
[slider] > div > [range] {
  position: absolute;
  left: 0;
  height: 14px;
  border-radius: 14px;
  background-color: #1abc9c;
}

/* line 46, ../sass/style.scss */
[slider] > div > [thumb] {
  position: absolute;
  top: -7px;
  z-index: 2;
  height: 28px;
  width: 28px;
  text-align: left;
  margin-left: -11px;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  border-radius: 50%;
  outline: none;
}

/* line 61, ../sass/style.scss */
[slider] > input[type="range"] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 3;
  height: 14px;
  top: -2px;
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

/* line 76, ../sass/style.scss */
div[slider] > input[type="range"]::-ms-track {
  -webkit-appearance: none;
  background: transparent;
  color: transparent;
}

/* line 82, ../sass/style.scss */
div[slider] > input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  background: transparent;
  color: transparent;
}

/* line 88, ../sass/style.scss */
div[slider] > input[type="range"]:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

/* line 93, ../sass/style.scss */
div[slider] > input[type="range"]:focus {
  outline: none;
}

/* line 97, ../sass/style.scss */
div[slider] > input[type="range"]::-ms-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}

/* line 106, ../sass/style.scss */
div[slider] > input[type="range"]::-moz-range-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}

/* line 115, ../sass/style.scss */
div[slider] > input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
  -webkit-appearance: none;
}

/* line 125, ../sass/style.scss */
div[slider] > input[type="range"]::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}

/* line 130, ../sass/style.scss */
div[slider] > input[type="range"]::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

/* line 135, ../sass/style.scss */
div[slider] > input[type="range"]::-ms-tooltip {
  display: none;
}

/* line 139, ../sass/style.scss */
[slider] > div > [sign] {
  opacity: 0;
  position: absolute;
  margin-left: -11px;
  top: -39px;
  z-index: 3;
  background-color: #1abc9c;
  color: #fff;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}

/* line 157, ../sass/style.scss */
[slider] > div > [sign]:after {
  position: absolute;
  content: "";
  left: 0;
  border-radius: 16px;
  top: 19px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top-width: 16px;
  border-top-style: solid;
  border-top-color: #1abc9c;
}

/* line 170, ../sass/style.scss */
[slider] > div > [sign] > span {
  font-size: 12px;
  font-weight: 700;
  line-height: 28px;
}

/* line 176, ../sass/style.scss */
[slider]:hover > div > [sign] {
  opacity: 1;
}

/* line 180, ../sass/style.scss */
* {
  font-family: "Roboto", "Raleway", sans-serif;
  background-size: cover;
}

/* line 185, ../sass/style.scss */
.optionBtn {
  color: orange;
}

/* line 189, ../sass/style.scss */
main {
  padding-bottom: 200px;
}
/* line 191, ../sass/style.scss */
main * {
  font-size: 30px;
}

/* line 196, ../sass/style.scss */
.bg-orange {
  background: #f75006;
}

/* line 200, ../sass/style.scss */
.container-fluid {
  padding: 0;
}

/* line 204, ../sass/style.scss */
.orange-btn {
  background: #f75006;
  color: white;
}
/* line 208, ../sass/style.scss */
.orange-btn:hover {
  color: #f75006;
  background: white;
}

/* line 216, ../sass/style.scss */
header * {
  color: black;
}
/* line 220, ../sass/style.scss */
header .headerBigTitle {
  font-size: 3em;
}
/* line 224, ../sass/style.scss */
header .headerText {
  font-size: 1.5em;
}
/* line 228, ../sass/style.scss */
header#index {
  height: 600px;
  background-image: url("../images/1.jpg");
}
/* line 229, ../sass/style.scss */
header#index * {
  color: white;
}

/* line 237, ../sass/style.scss */
.headerCard {
  height: 220px;
  background: #f7c800;
}

/* line 242, ../sass/style.scss */
.bodyCard {
  height: 240px;
  padding: 5%;
}
/* line 245, ../sass/style.scss */
.bodyCard p {
  line-height: 25px !important;
  font-size: 0.6em;
}

/* line 253, ../sass/style.scss */
footer {
  background: #2b1603;
  padding: 30px 0 70px 0;
}
/* line 254, ../sass/style.scss */
footer * {
  color: white;
}
/* line 260, ../sass/style.scss */
footer h2 {
  margin-bottom: 30px;
}
/* line 264, ../sass/style.scss */
footer .col-md-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
/* line 269, ../sass/style.scss */
footer .col-md-3 p {
  font-size: 1.2em;
  text-align: left !important;
  margin: 0;
}

/* line 282, ../sass/style.scss */
#carouselId .carousel-item {
  height: 500px;
}

/* line 287, ../sass/style.scss */
.myBadge {
  font-weight: bold;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f75006;
  font-size: 13px;
  color: white;
  border-radius: 100%;
}

/* line 301, ../sass/style.scss */
.presentation p, .visite p, .conditions p, .equipements p {
  font-size: 0.6em;
  font-weight: bold;
}

/* line 308, ../sass/style.scss */
.presentation .title {
  height: 92%;
  padding: 20% 6% 6% 6%;
}

/* line 314, ../sass/style.scss */
.conditions {
  margin-top: 100px;
}

/* line 318, ../sass/style.scss */
.receiveVisite {
  margin-top: 120px;
  margin-bottom: 400px;
}
/* line 321, ../sass/style.scss */
.receiveVisite .card {
  background: #f7f4f1;
  margin: 0 auto;
  width: 94%;
  height: 100px;
  padding-left: 20%;
  padding-right: 3%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

/* line 338, ../sass/style.scss */
.big {
  height: 400px;
}
